<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/style.css"> 
    <link rel="shortcut icon" href="images/—Pngtree—weather thunderstorm clouds fluorescent_6391817.png">
    <title>Weather</title>
</head>
<body>
    <!-- main-menu -->
    <div class = "container-fluid main-menu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#"><i class="fas fa-snowflake"></i> MyWeatherApp <i class="fas fa-snowflake"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/weather">Weather <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </div>
              </nav>
  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magni voluptatibus excepturi id vero vitae magnam corporis unde! Mollitia, ut odio dicta cumque, velit maiores aliquid quisquam minima illo nam aspernatur ex, vitae eligendi quidem porro! Beatae numquam sequi obcaecati velit provident quidem maiores in tenetur? Molestias, quia. Maxime autem fugiat accusantium laboriosam dignissimos officia magni atque quod et voluptates cupiditate quasi omnis asperiores adipisci odit, in rerum, vel quas, enim quibusdam architecto voluptatem tempore. Sequi dolorum cumque minus accusamus voluptate dignissimos? Culpa rem sint ullam expedita laudantium nisi accusamus, tenetur, eius totam laboriosam dolorum quae porro consectetur fugiat maxime.</p> -->
    </div>
    </div>
</div>
<!-- main-header -->
<div class="container-fluid main_header">
    <div class = "row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="main_content">
              <form class="temp_form">
                  <input type="text" id="cityname" autocomplete="off" placeholder="Enter your city name...">
                  <input type="submit" value="search" id="submitBtn">
              </form>
            <div class="tempinformation">
                <div class="top_layer">
                    <p class="day">tuesday</p>
                    <p class="today_date">13oct</p>
                </div>
                <div class="main_layer ">
                    <p id="city_name">get output here</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span id="temp_val">0</span> <sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
          </div>


        </div>
    </div>
</div>

<!-- footer code -->
<footer>
    <p> Created with love by vipul weather reports</p>
</footer>
<script src=" js/main.js"></script>
</body>
</html>